---
- name: Install and configure k3s Server
  hosts: k3s_multi_server
  become: yes
  tasks:
    - name: Install k3s
      shell: curl -sfL https://get.k3s.io | sh -

    - name: Create k3s config file
      copy:
        content: |
          write-kubeconfig-mode: "0644"
          
          tls-san:
            - "{{ public_ip_address }}"
        dest: /etc/rancher/k3s/config.yaml
        mode: '0644'

    - name: Restart k3s service
      systemd:
        name: k3s
        state: restarted

    - name: Get k3s node token
      slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: k3s_token

    - name: Set k3s token as fact
      set_fact:
        k3s_node_token: "{{ k3s_token.content | b64decode | trim }}"

    - name: Fetch kubeconfig file
      fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: ./kubeconfig-k3s-multi.yaml
        flat: yes

    - name: Replace localhost with public IP in kubeconfig
      become: no
      local_action:
        module: replace
        path: ./kubeconfig-k3s-multi.yaml
        regexp: '127\.0\.0\.1'
        replace: "{{ public_ip_address }}"

- name: Install k3s Agent
  hosts: k3s_multi_agent
  become: yes
  tasks:
    - name: Install k3s
      shell: curl -sfL https://get.k3s.io | sh -
      environment:
        K3S_URL: "https://{{ hostvars[groups['k3s_multi_server'][0]]['private_ip_address'] }}:6443"
        K3S_TOKEN: "{{ hostvars[groups['k3s_multi_server'][0]]['k3s_node_token'] }}"